@import "@/styles/Variables.module.scss";

.banner {
  position: absolute;
  z-index: -1;
  width: 100%;
  top: 0;
  background: url("/assets/bannner-home.jpg") no-repeat center center;
  background-size: cover;
  height: 483px;
  padding-top: 100px;

  h2 {
    color: $white;
    font-family: "Muli-Bold";
    width: 100%;
    max-width: 590px;
    font-size: 50px;
    line-height: 1.15em;
    font-weight: 800;
    letter-spacing: -1.5px;
  }
  p {
    margin: 20px 0;
    color: $white;
    max-width: 380px;
    font-size: 15px;
    line-height: 1.6em;
  }
}
